/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "./default.scss";
@import "./variable";
@import "./static_pages.scss";
@import "./users";
@import "~bootstrap/scss/bootstrap";

// ここからナビバー設定
.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(88, 202, 180, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// }

// ここまでナビバー設定
// header
.header {
    width: 100%;
    position: fixed;
    font-weight: bold;
    z-index: 2;
    .header-logo {
        width: 120px;
        height: 45px;
    }
    ul {
        font-size: 18px;
        @include sp {
            text-align: center;
            text-shadow: 1px 1px 0 #000;
            padding: 5% 0 5% 0;
        }
    }
}
.bg-transparent{
    background-color: transparent;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all  0.8s ease;
}

.bg-black{
    background-color: rgba(52, 58, 64, 0.8);
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all  2s ease;
}

// footer
.footer {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #343a40 !important;
    padding: 30px 3%;
    .copyright {
        .footer-logo {
            width: 120px;
            height: 45px;
            margin-bottom: 2%;
        }
        p {
            color: #fff;
            font-size: 18px;
        }
    }
}