@import "./variable";

// user_showページ===========================================
.btn{
  font-size: 1rem;
  border-radius: 30px;
  @include sp{
    font-size: 0.8rem;
  }
}

.base-tag{
  border-radius: 30px!important;
  display: block!important;
  width: 90%!important;
  margin: 0 auto;
}

#base-will{
  font-size: 1rem;
}

.h2{
  font-size: 30px;
  font-weight: bold;
  padding: 15px 0;
}

.h3{
  font-size: $h3;
  font-weight: bold;
  padding: 15px 0;
}

.user_work_space{
  padding: 100px 3% 0 3%;
}

// ここからwcmワークスペース
.wcm-work-space{
  margin: 0 auto;
  padding: 3% 0;
  border-top: 1px solid $main_color;
}

// (will,can,must)-tags
@each $name, $val in $wcm_colors {
  .#{$name}-tags{
    margin: 3%;
    box-sizing: border-box;
    border: 2px solid ($val);
  }
}
// (will,can,must)-buttons
@each $name, $val in $wcm_colors {
  .#{$name}-color{
    color: #fff!important;
    background-color: ($val)!important;
    border-radius: 30px!important;
  }
}
@each $name, $val in $wcm_hover_colors {
  .#{$name}-color:hover{
    color: #fff;
    background-color: ($val)!important;
  }
}

.tag{
  display: flex;
  justify-content: space-evenly;
  margin: 3% 0;
  .btn{
    border-radius: 30px;
    min-width: 100px;
  }
}

.guideline{
  margin: 30px 0;
  @include sp{
    margin: 15px 0;
  }
  p{
    padding-top: 15px;
    line-height: 30px;
  }
  .guideline-container{
    cursor: pointer;
  }
}

.base-tag-edit, .guideline-edit{
  padding-bottom: 10px;
  border-bottom: 1px solid $main_color;
}

// ここまでwcmワークスペース

// ここからwcmターゲット
.wcm-target{
  margin-bottom: 4%;
  border-top: 1px solid $main_color;
  border-bottom: 1px solid $main_color;
}

.progress-meter{
  padding: 30px 0;
  width: 80%;
  h3{
    padding: 15px 0;
  }
}

.target{
  margin-top: 10px;
  .btn{
  width: 35%;
  }
}

.target-edit{

}

.target-select,.target-delete{
  max-width: 80px;
}

.target-body{
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  max-width: 330px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.separation{
  padding: 20px 2%;
  border-bottom: 1px solid $main_color;
}

// ここまでwcmターゲット

// ここから企業分析
.corporate-analysis{
  margin-bottom: 4%;
}

.table{
  min-width: 800px;
  margin: 20px 0;
}

// 検索ボックス
.search_container{
  box-sizing: border-box;
}
.search_container input[type="text"]{
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 20px;
  height: 2.0em;
  width: 245px;
  overflow: hidden;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  outline : none;
  display: inline-block;
  vertical-align: middle;
}

.corporate-edit{
  text-align: right;
  margin:  20px 0;
  padding: 0 15px;
}
// ここまで企業分析

// ここからwill_edit
  .nav-tabs{
    border-bottom: 1px solid $main_color;
  }

  .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: $main_color $main_color #fff;
  }

.tags-edit{
  margin: 0 auto;
  .tags, .edit, .new{
    padding: 20px 2%;
    border-bottom: 1px solid $main_color;
    .form-control{
      margin: 10px 0;
    }
  }

  .tags{
    margin-top: 10px;
  }

}
.modal-btn{
  font-size: 0.8rem;
  border-radius: 30px!important;
  margin: 10px 10px 10px 0;
  min-width: 80px;
}
// ここまでwill_edit