<div class="modal fade" id="wcm-tagsModal" tabindex="-1" role="dialog" aria-labelledby="wcm-tagsModal" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title h3" id="wcm-tagsModalLabel">
          <i class="fas fa-tags"></i>
          WCMタグ作成・編集
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <%= link_to "Will", page_transition_user_path(transition_value: "will"),class: "nav-link",data: {toggle: "tab"}, role: "tab",aria:{selected: true}, id: "will-active", remote: true %>
            </li>
            <li class="nav-item">
              <%= link_to "Can", page_transition_user_path(transition_value: "can"), class: "nav-link", data: { toggle: "tab" }, role: "tab", aria: { selected: true }, id: "can-active", remote: true %>
            </li>
            <li class="nav-item">
              <%= link_to "Must", page_transition_user_path(transition_value: "must"), class: "nav-link", data: { toggle: "tab" }, role: "tab", aria: { selected: true }, id: "must-active", remote: true %>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="wcm-container" role="tabpanel" aria-labelledby="home-tab">
              <%= render partial: 'users/modal/work_space' %>
            </div>
          </div>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>