<div class="row tags-edit">
  <div class="col-12 tags">
    <h3 class="h3">
      <i class="far fa-eye"></i>
      表示タグ
    </h3>
    <div class="tags-container">
      <button type="button" class="btn btn-primary modal-btn">Primary</button>
      <button type="button" class="btn btn-primary modal-btn">Primary</button>
      <button type="button" class="btn btn-primary modal-btn">Primary</button>
      <button type="button" class="btn btn-primary modal-btn">Primary</button>
      <button type="button" class="btn btn-primary modal-btn">Primary</button>
      <button type="button" class="btn btn-primary modal-btn">Primary</button>
    </div>
    <div class="col-12 text-right">
      <button type="button" class="btn btn-success">選択</button>
      <button type="button" class="btn btn-success">削除</button>
    </div>
  </div>

  <div class="col-12 edit">
    <h3 class="h3">
      <i class="fas fa-pen-square"></i>
      編集
    </h3>
    <button type="button" class="btn btn-primary d-block modal-btn">Primary</button>
    <label for="textarea1">質問の編集:</label>
    <textarea id="textarea1" class="form-control"></textarea>
    <input class="form-control" type="text" placeholder="解答タグのの編集">
    <div class="col-12 text-right">
      <button type="button" class="btn btn-success">更新</button>
    </div>
  </div>

  <div class="col-12 new">
    <h3 class="h3">新規作成</h3>
    <label for="textarea1">質問の新規作成:</label>
    <textarea id="textarea1" class="form-control"></textarea>
    <input class="form-control" type="text" placeholder="解答タグの新規作成">
    <div class="col-12 text-right">
      <button type="button" class="btn btn-success">作成</button>
    </div>
  </div>
</div>