<% @will_tags.each do |t| %>
  <%#= link_to "#{t.tag}", tag_delete_user_path, class: 'btn btn-primary modal-btn show-btn', id: "tag#{t.id}"  %>
  <button type="button" class="btn btn-primary modal-btn show-btn will" id="tag<%= t.id %>"><%= t.tag %></button>
<% end %>