<div class="col-12">
  <h2 class="h2">企業分析</h2>

  <%= search_form_for @q, url: company_serach_path, remote: true, html: {class: "search_container text-right"} do |f| %>
    <%= f.search_field :name_cont, type: "text", placeholder: "企業検索" %>
    <input type="submit" class="fas search_container-submit" value="&#xf002;">
  <% end %>
  <div class="table-responsive-lg">
    <table class="table table-hover text-center show-table">
      <thead>
        <tr class="bg-info text-white">
          <th scope="col">企業名</th>
          <th scope="col">URL</th>
          <th scope="col">事業</th>
          <th scope="col">社風/環境</th>
          <th scope="col">ビジョン</th>
          <th scope="col">将来性</th>
          <th scope="col">スキル</th>
          <th scope="col">待遇</th>
          <th scope="col">志望度</th>
        </tr>
      </thead>
      <tbody class="companies-show">
        <%= render partial: "users/companies/companies_show", locals: { instance: @companies } %>
      </tbody>
    </table>
  </div>
  <div class="companies-create mt-3 mb-5 text-right">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".modal_companies">新規作成/削除</button>
  <div>
</div>