<div class="col-12">
  <h2 class="h2">企業分析</h2>

  <form method="get" action="#" class="search_container text-right">
    <input type="text" size="25" placeholder="キーワード検索">
    <input type="submit" value="&#xf002">
  </form>
  <div class="table-responsive-lg">
    <table class="table table-hover text-center show-table">
      <thead>
        <tr class="bg-success text-white">
          <th scope="col">企業名</th>
          <th scope="col">URL</th>
          <th scope="col">事業</th>
          <th scope="col">社風/環境</th>
          <th scope="col">ビジョン</th>
          <th scope="col">将来性</th>
          <th scope="col">スキル</th>
          <th scope="col">待遇</th>
          <th scope="col">志望度</th>
        </tr>
      </thead>
      <tbody class="companies-show">
        <%= render partial: "users/companies/companies_show", locals: { instance: @companies } %>
      </tbody>
    </table>
  </div>
  <div class="companies-create mt-3 mb-5 text-right">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".modal_companies">企業編集</button>
  <div>
</div>