<div class="col-md-4 my-1">
  <button type="button" class="btn will-color d-block col-12 w-80" id="will_base">Primary</button>
</div>
<div class="col-md-4 my-1">
  <button type="button" class="btn can-color d-block col-12 w-80" id="can_base">Warning</button>
</div>
<div class="col-md-4 my-1">
  <button type="button" class="btn must-color d-block col-12 w-80 id="must_base">Danger</button>
</div>