<div class="col-12">
  <h2 class="h2">WCMを基にした目標(開発中)</h2>
</div>
<div class="w-100" id="targetShowContainer">
  <%= render partial: "users/target/targets_show", locals: { instance: @targets } %>
</div>