<div class="col-12">
  <h2 class="h2">WCMを基にした目標(開発中)</h2>
</div>

<div class="col-12 progress-meter">
  <div class="col-12">
    <h3>歩き始めて0日目</h3>
  </div>
  <div class="col-10 offset-1 m-auto">
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>

<div class="row w-100 mx-auto text-md-center target">
  <div class="col-12 col-md-4">
    <h3>Longの目標</h3>
  </div>
  <div class="col-12 col-md-4">
    <p>〇〇する</p>
  </div>
  <div class="col-12 col-md-4 text-right text-md-center">
    <button type="button" class="btn btn-success w-60">達成</button>
  </div>
</div>

<div class="row w-100 mx-auto text-md-center target">
  <div class="col-12 col-md-4">
    <h3>Middleの目標</h3>
  </div>
  <div class="col-12 col-md-4">
    <p>〇〇する</p>
  </div>
  <div class="col-12 col-md-4 text-right text-md-center">
    <button type="button" class="btn btn-success w-60">達成</button>
  </div>
</div>

<div class="row w-100 mx-auto text-md-center target">
  <div class="col-12 col-md-4">
    <h3>Shortの目標</h3>
  </div>
  <div class="col-12 col-md-4">
    <p>〇〇する</p>
  </div>
  <div class="col-12 col-md-4 text-right text-md-center">
    <button type="button" class="btn btn-warning w-60">未達成</button>
  </div>
</div>

<div class="target-edit">
  <button type="button" class="btn btn-success">目標を編集</button>
</div>