<div class="col-12">
  <h2 class="h2">WCMを基にした目標(開発中)</h2>
</div>

<div class="col-12 progress-meter">
  <div class="col-12">
    <h3>歩き始めて0日目</h3>
  </div>
  <div class="col-10 offset-1 m-auto">
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>
<% @targets.each do |target| %>
  <div class="row w-100 mx-auto my-3 text-md-center target" data-toggle="modal" data-target=".modal_target">
    <div class="col-12 col-md-4">
      <h3><%= target.period_i18n %></h3>
    </div>
    <div class="col-12 col-md-4">
      <p><%= target.target_body %></p>
    </div>
    <div class="col-12 col-md-4 text-right text-md-center">
      <button type="button" class="btn btn-success w-60"><%= target.achieve %></button>
    </div>
  </div>
<% end %>