<% instance.each do |target| %>
  <div class="row w-100 mx-auto my-3 text-md-center target" data-toggle="modal" data-target=".modal_target" id="target-body">
    <div class="col-12 col-md-4">
      <h3><%= target.period_i18n %></h3>
    </div>
    <div class="col-12 col-md-4">
      <p><%= target.target_body %></p>
    </div>
    <div class="col-12 col-md-4 text-right text-md-center">
      <button type="button" class="btn btn-success w-60"><%= target.achieve_i18n %></button>
    </div>
  </div>
<% end %>
