/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
/* ここからデフォルト無効化CSS */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

* {
    word-wrap: break-word;
}

*:focus {
    box-shadow: none !important;
}

/* ここまでデフォルト無効化CSS */

// ここからメディアクエリ
$pc: 768px; // PC
$sp: 767px; // スマホ
@mixin pc {
    @media (max-width: ($pc)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

// ここまでメディアクエリ
// ここからナビバー設定
.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30'
 xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(88, 202, 180, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

// ここまでナビバー設定
// header
.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    font-weight: bold;
    z-index: 2;
    .header-logo {
        width: 120px;
        height: 45px;
    }
    ul {
        font-size: 18px;
        @include sp {
            text-align: center;
            background-color: rgba(0, 0, 0, 0.3);
            text-shadow: 1px 1px 0 #000;
            padding: 5% 0 5% 0;
        }
    }
}

// footer
.footer {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #343a40 !important;
    padding: 30px 3%;
    .copyright {
        .footer-logo {
            width: 120px;
            height: 45px;
            margin-bottom: 2%;
        }
        p {
            color: #fff;
            font-size: 18px;
        }
    }
}